<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Зворотній зв'язок</title>
    <style>
        body {
            font-family: Roboto, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        img {
            margin: 0 auto;
        }

        h2 {
            color: #333;
        }

        label {
            display: block;
            margin: 10px 0 5px;
            color: #555;
        }

        .flex {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>Зворотній зв'язок вiд {{name}}</h2>
    <label for="email">Почта: <span>{{email}}</span></label>
    <h4>Вік: <span>{{age}}</span></h4>
    <h4>Стать: <span>{{gender}}</span></h4>
    <div class="result-values">{{#each descriptionsWithValue}}
        <p><strong>{{number}}.</strong> {{text}} - {{value}}%</p>
    {{/each}}</div>

    <h3>Результати по питаннях:</h3>
    {{#each questionsFormatted}}
        <p><strong>Питання - {{number}}</strong></p>
        <ul style="margin-top: 0; margin-bottom: 0.5rem;">
            {{#each answers}}
                <li>{{letter}} {{value}}</li>
            {{/each}}
        </ul>
    {{/each}}
</div>
</body>

</html>
